<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="DBStructurePath" value="C:\Naresh\Projects\investor-2015\Investor\overall-structure.txt"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
    <connectionStrings>
        <add name="Investor" connectionString="Data Source={0}\SQLEXPRESS;Initial Catalog=Investor;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>