<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="TableNames" value="si_ci,si_cfa"/>
    <add key="DBFPaths" value="C:\Naresh\Data\Static;C:\Naresh\Data\Dbfs"/>
  </appSettings>
    <connectionStrings>
        <add name="Investor" connectionString="Data Source={0}\SQLEXPRESS;Initial Catalog=InvestorNew;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>