<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!-- Connection String: Initial Catalog='Database name'-->
    <add name="Investor" connectionString="Data Source={0}\SQLEXPRESS;Initial Catalog=Investor;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>